<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Game of War</title>
</head>
<body style="background-color: #2C2F33">
    <div style="display: flex; flex-direction: column; align-items: center; height: 50vh;">
        <h1 style = "font-size: 100px; font-family: 'Arial Black',serif">War!</h1>
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
            <img src="/CardImages/ace_of_spades.png" alt="Ace of Clubs" style="width: 250px; margin: 10px;">
            <img src="/CardImages/ace_of_hearts.png" alt="Ace of Hearts" style="width: 250px; margin: 10px;">
        </div>
    </div>
</body>
</html>